@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  /* COLOR */
  --color-primary: hsl(270, 0%, 60%); /* saturation 30 */
  --color-primary-400: hsl(270, 0%, 85%); /* saturation 20 */
  --color-primary-foreground: hsl(20, 0%, 95%); /* saturation 30 */

  /* FONT */
  --font-primary: Rajdhani, system-ui;
}

@layer base {
  :root {
    color: var(--color-primary-foreground);
    font-family: var(--font-primary);
  }
}
