---
import BaseLayout from '../layouts/BaseLayout.astro';
import WheelMenu from "../components/reactive/WheelMenu.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout pageTitle={SITE_TITLE} pageDescription={SITE_DESCRIPTION}>
	<div class="flex flex-row">
		<WheelMenu />
		<div class="flex-1 h-lvh bg-linear-to-tl from-primary/60 to-primary-400">
		</div>
	</div>
</BaseLayout>