---
import BaseHead from "../components/BaseHead.astro";
import WheelMenu from "../components/reactive/WheelMenu.svelte";
import Section from "../components/reactive/Section.svelte";
import siteData from "../data/site.json";
import { getCollection } from 'astro:content';

const sections = (await getCollection('sections')).sort(
  (a, b) => b.data.order - a.data.order,
);
---

<!doctype html>
<html lang="en" class="bg-primary-400">
  <head>
    <BaseHead pageTitle={siteData.siteTitle} pageDescription={siteData.siteDescription} />
  </head>
  <body>
    <main class="min-h-svh">
		<div class="flex flex-row">
			<WheelMenu items={sections} client:load />
			<div class="flex-1 h-lvh bg-linear-to-tl from-primary/60 to-primary-400">
			</div>
		</div>
    </main>
  </body>
</html>